<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../lib/slds/styles/salesforce-lightning-design-system.min.css" />
    <script type="text/javascript" src="../lib/loglevel.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../lib/mustache.min.js"></script>
    <script type="text/javascript" src="../lib/lodash.min.js"></script>
    <script type="text/javascript" src="../lib/jquery.aljs-init.min.js"></script>
    <script type="text/javascript" src="../lib/jquery.aljs-multi-select.min.js"></script>
</head>

<body>
    <div class="slds-page-header">
        <div class="slds-grid">
            <div>
                <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="">Loginas - Options</h1>
            </div>
        </div>
    </div>
    <div class="slds-container--center slds-container--small">
        <div class="slds-grid">
            <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                <div class="slds-form--stacked slds-grow slds-scrollable--y">
                    <div class="slds-panel__section slds-has-divider--bottom">
                        <div class="slds-media">
                            <div class="slds-media__body">
                                <p class="slds-truncate slds-text-heading--small" title="User Fields">User Fields</p>
                                <p class="slds-truncate slds-text-body--small" title="Jun 18">Select which user fields to search / display</p>
                            </div>
                        </div>
                    </div>
                    <div class="slds-panel__section">
                        <div class="slds-form-element">
                            <div class="slds-picklist--draggable slds-grid" data-aljs="multi-select">
                                <div class="slds-form-element">
                                    <span class="slds-form-element__label" aria-label="select-1">Available Fields</span>
                                    <div class="slds-picklist slds-picklist--multi" data-aljs-multi-select="unselected">
                                        <ul class="slds-picklist__options slds-picklist__options--multi shown"></ul>
                                    </div>
                                </div>
                                <div class="slds-grid slds-grid--vertical">
                                    <button class="slds-button slds-button--icon-container" data-aljs-multi-select="unselect">
                                        <svg aria-hidden="true" class="slds-button__icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/slds/icons/utility-sprite/svg/symbols.svg#left"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Pick list</span>
                                    </button>
                                    <button class="slds-button slds-button--icon-container" data-aljs-multi-select="select">
                                        <svg aria-hidden="true" class="slds-button__icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/slds/icons/utility-sprite/svg/symbols.svg#right"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Pick list</span>
                                    </button>
                                </div>
                                <div class="slds-form-element">
                                    <span class="slds-form-element__label" aria-label="select-2">Selected Fields</span>
                                    <div class="slds-picklist slds-picklist--multi" data-aljs-multi-select="selected">
                                        <ul class="slds-picklist__options slds-picklist__options--multi shown"></ul>
                                    </div>
                                </div>
                                <div class="slds-grid slds-grid--vertical">
                                    <button class="slds-button slds-button--icon-container" data-aljs-multi-select="move-up">
                                        <svg aria-hidden="true" class="slds-button__icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/slds/icons/utility-sprite/svg/symbols.svg#up"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Pick list</span>
                                    </button>
                                    <button class="slds-button slds-button--icon-container" data-aljs-multi-select="move-down">
                                        <svg aria-hidden="true" class="slds-button__icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/slds/icons/utility-sprite/svg/symbols.svg#down"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Pick list</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="slds-container--center slds-container--small">
        <div class="slds-grid">
            <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                <div class="slds-form--stacked slds-grow slds-scrollable--y">
                    <div class="slds-panel__section slds-has-divider--bottom">
                        <div class="slds-media">
                            <div class="slds-media__body">
                                <p class="slds-truncate slds-text-heading--small" title="User Fields">User Type</p>
                                <p class="slds-truncate slds-text-body--small" title="Jun 18">Filter by user type</p>
                            </div>
                        </div>
                    </div>
                    <div class="slds-panel__section">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                              <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="standard-users" checked="" />
                                <label class="slds-checkbox__label" for="standard-users">
                                  <span class="slds-checkbox--faux"></span>
                                  <span class="slds-form-element__label">Standard Users Only</span>
                                </label>
                              </span>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="../js/options.js"></script>    
    <script type="text/javascript" src="../js/options-page.js"></script>
    <script type="text/javascript" src="../js/analytics.js"></script>
</body>

</html>
